#page-wrap {
    width: 600px;
    margin: 15px auto;
    position: relative;
}

#sidebar {
    position: fixed;
    margin-left: 20px;
    left: 10px;
    top: 16px;
    width: 80px;
    padding-left: 10px;
    background-color: #fbe7fb;
    border-right-width: 10px;
}

h2 {
    background-color: #a5ff97;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    color: #444;
    width: 400px;
    margin-left: 150px;
}

.job-description {
    overflow: hidden;
    height: 250px;
    padding-left: 50px;
}

.notes p {
    margin: 0px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}