

h2 {
    background-color: #a5ff97;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    color: #444;
    width: 400px;
    margin-left: 150px;
}

.job-description  {
    overflow: hidden;
    height: 250px;
    padding-left: 50px;
}

.notes p {
    margin: 0px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}